<h2>
  <%= gravatar_for @user %>
  <%= @user.email %>
</h2>


<% unless @user.microposts.empty? %>
  <table>
    <%= render @microposts %>
  </table>
  <%= will_paginate @microposts %>
<% end %>

<%- model_class = Championship -%>

<table class="table table-striped">
  <thead>
    <tr>      
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @championships.each do |championship| %>
      <tr>        
        <td><%= link_to championship.name, championship_path(championship) %></td>
        <% if @user == current_user %>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_championship_path(championship), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        championship_path(championship),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_championship_path,
            :class => 'btn btn-primary' %>
